# directories
.vs/

building_output__/*
!building_output__/example_build__/

src/00_libs/*
# !src/00_libs/.gitkeep
!src/00_libs/00_libs.zip

src/not_used__/


# files
# .gitignore
heiduzi.vcxproj.filters
heiduzi.vcxproj.user